body {
  overflow-y: scroll;
  /* Hacky padding-right to deal with bootstrap adding element-style padding sometimes. */
  padding-right: 0px !important;
}

body.modal-open {
  padding-right: 15px !important;
}

table {
  font-size: .9em;
}

a {
  cursor: pointer;
}

.half-padding {
  margin-top: 10px;
  margin-bottom: 10px;
}

/***************************** PREFS MESSAGE *****************************/

.saved-preferences {
  display: inline;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  color: red;
}

/***************************** SVG SPINNER *****************************/
.loader {
  height:40px;
  width:40px;
  margin:0px auto;
  position:relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:4px solid rgba(50,50,50,.8);
  border-right:4px solid rgba(50,50,50,.8);
  border-bottom:4px solid rgba(50,50,50,.8);
  border-top:4px solid rgba(255,255,255,.0);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
/***************************** TIME HOVER *****************************/
.time {
  display: inline;
}

.time .full-time {
  position: absolute;
  display: block;
  border: 1px solid;
  z-index: 9999;
  width: 13.8em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.time:hover .full-time {
  visibility: visible;
}

/***************************** USER PROFILE *****************************/
.user-profile {
  display: inline-block;
  position: relative;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.user-picture {
  display: inline-block;
}

.user-profile-info {
  font-size: .85em;
  display: inline-block;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}

/***************************** LOGIN *****************************/

.login-box {
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.login-form {
  margin-top: 42px;
}
.login-form .form-group {
  text-align: center;
}
.login-form input {
  border: 1px solid;
}

/***************************** NAV *****************************/


.navbar .nav .dropdown > li {
  z-index: 10001;
}


.navbar-no-padding {
  padding: 0 0 0 0  !important;
  margin-bottom: 0 !important;
}

.navbar-default {
  background-color: #3fb0ac;
  border-color: #173e43;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #dddfd4;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #dddfd4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #dddfd4;
  background-color: #173e43;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #dddfd4;
  background-color: #173e43;
}
.navbar-default .navbar-toggle {
  border-color: #173e43;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #173e43;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dddfd4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #dddfd4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #dddfd4;
  background-color: #173e43;
}
}

.navbar-default .navbar-nav .navbar-btn {
  background-color: #269793;
  color: white;
  border-color: #0C7D79;
}

/***************************** QUEUE/TICKETROW/SIDEBAR *****************************/

.hidden-row {
  padding: 0 !important;
}

.top-buffer {
  margin-top: 10px;
}

.load-more {
  text-align: center;
  vertical-align: middle;
}

.fade.off {
  opacity: 0
}

.fade {
  opacity: 1;
  transition: opacity 200ms ease;
}


.add-attachment-btn {
  width: 40px;
  height: 40px;
  background: #bbb;
  border: none;
  font-size: 10pt;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
  position: relative;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.add-attachment-btn:hover .icon {
  color: #fff;
}

blockquote {
  width: 100%;
  background: #ffffff;
  border: 2px solid #ccc;
}

.attachment { 
  display: block;
  position: relative; 
} 

.attachment .remove-attachment { 
  position: absolute; 
  display: block; 
  border: 1px solid; 
  top: 17px;
  left: 20%; 
  z-index: 9999; 
  min-width: 4.4em;
  background: rgba(255, 255, 255, 0.9); 
  padding: 2px 4px 2px 4px; 
  visibility: hidden; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
} 

.attachment:hover .remove-attachment { 
  visibility: visible; 
} 

.error {
  font-weight: bold;
  color: red;
}

.form-inline .form-group .quick-add-input {
  width: 35em;
  margin-right: 10px;
}

.form-inline .form-group .quick-add-status-input {
  width: 10em;
  margin-right: 10px;
}

.label-as-badge {
  border-radius: 1em;
}

.highlight {
  background-color: #FFFF88;
}

.user-panel-portrait {
  float: left;
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.user-panel-info {
  display: inline-block;
  font-weight: bold;
}

.changelog-buttons {
  float: right;
  padding: 10px 15px 10px 0px;
}

.faded {
  opacity: 0.5 !important;
}

.note-input-buttons {
  float: right;
  padding: 10px 15px 10px 0px;
}

.internal-note {
  background: #FFF6D9;
  border: 1px solid #EFDAA3;
}

.ticket-note-area {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket-note-input-area {
  margin-top: 30px;
}

.ticket-sidebar {
  margin-top: 10px;
}


.row-no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  } 
}

@media (min-width: 769px) {
  btn-responsive {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.inline-edit {
  display: inline-block;
  width: auto;
  overflow: hidden;
}
.inline-edit-icon {
  opacity: 0;
}
.field-area:hover .inline-edit-icon {
  opacity: 1;
}

.field-area {
  width: 100%;
}

.field-edit-area {
  display: none;
}

.field-table-heading {
  cursor: pointer;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
  .yamm .nav,
  .yamm .collapse,
  .yamm .dropup,
  .yamm .dropdown {
    position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.list-unstyled,
.list-unstyled ul { min-width: 160px }

.cursor-pointer {
  cursor: pointer;
}

.attachment-modal-image {
  max-width: 80vw;
  max-height: 80vh;
}

.attachment-modal-pdf {
  /* PDF's can fit here and the embed will hopefully figure it out. */
  width: 80vw;
  height: 80vh;
}

.attachment-modal-download-button {
  padding-top: 20px;
}


@media (max-width: 768px) {
  .modal-xl {
    width: 96vw;
}
}

@media (min-width: 769px) {
  .modal-xl {
    width: 90vw;
}
}

.inline-block {
  display: inline-block;
}

.inventory-table-heading {
  cursor: pointer;
}

.facet-dropdown .dropdown-menu {
  min-width: 200px;
  padding-left: 8px;
  padding-right: 4px;
}

.mobile-filter-buttons {
  padding-top: 5px;
}

.mobile-filter-buttons button {
  width: 100%;
}

.unavailable, .rejected, .error {
  color: red;
  font-weight: bold;
}

.available,  .approved {
  font-weight: bold;
  color: green;
}

.login-input { 
  max-width: 200px;
}

.checkout-note {
  font-size: 0.7em;
  font-weight: lighter;
}

.datepicker table tr td.disabled.datepicker-date-reserved {
  /* Datepicker has pretty intense specificity to beat... */
  color: red;
  opacity: 0.5;
}

/***** Checkout Filters *****/

.input-daterange.checkout-daterange {
  width: auto;
  display: inline;
}

.checkout-daterange .form-control {
  width: auto;
  display: inline;
}

.checkout-daterange .checkout-daterange-addon {
  padding: 3px;
}

.checkout-filters {
  display: inline;
}

.required {
  font-size: .8em;
  color: red;
}

.input-group.input-group-inline {
  display: inline-table;
  vertical-align: middle;
}

.filter-flex-container {
  display: flex;
  justify-content: space-between;
}

/* should really start using LESS */
.input-group.input-group-inline .input-group-addon,
.input-group.input-group-inline .input-group-btn,
.input-group.input-group-inline .form-control {
  width: auto !important;
}


