body {
  overflow-y: scroll;
}

.half-padding {
  margin-top: 10px;
  margin-bottom: 10px;
}

/***************************** PREFS MESSAGE *****************************/

.saved-preferences {
  display: inline;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  color: red;
}

/***************************** SVG SPINNER *****************************/

.loader {
  text-align: center;
}

/***************************** TIME HOVER *****************************/
.time {
  display: inline;
}

.time .full-time {
  position: absolute;
  display: block;
  border: 1px solid;
  z-index: 9999;
  width: 13.8em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.time:hover .full-time {
  visibility: visible;
}

/***************************** USER PROFILE *****************************/
.user-profile {
  display: inline-block;
  position: relative;
}

.user-profile img {
  max-width: 96px;
  max-height: 40px;
}

.in-row img  {
  max-width: 36px;
  max-height: 24px;
}

.offline {
  opacity: 0.3;
}

.user-profile .user-info {
  position: absolute;
  display: block;
  text-align: left;
  border: 1px solid;
  left: 50%;
  z-index: 9999;
  top: 40px;
  width: 200px;
  font-size: .85em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px 2px 4px;
  visibility: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.in-row .user-info {
  top: 24px;
}

.user-info .name {
  font-weight: bold;
}

.user-profile:hover .user-info {
  visibility: visible;
}

/***************************** LOGIN *****************************/

.login-box {
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.login-form {
  margin-top: 42px;
}
.login-form .form-group {
  text-align: center;
}
.login-form input {
  border: 1px solid;
}

/***************************** NAV *****************************/

.navbar {
  position: static;
}

.navbar .nav .dropdown > li {
  z-index: 10001;
}

.navbar-default {
  background-color: #005daa;
  border-color: #006ac3;
  border-radius: 0 !important;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cccccc;
}
.navbar-default .navbar-text {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #cccccc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #cccccc;
  background-color: #006ac3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #cccccc;
  background-color: #006ac3;
}
.navbar-default .navbar-toggle {
  border-color: #006ac3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #006ac3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-link {
  color: #eeeeee;
}
.navbar-default .navbar-link:hover {
  color: #cccccc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cccccc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cccccc;
    background-color: #006ac3;
  }
}

.navbar-no-padding {
  padding: 0 0 0 0  !important;
  margin-bottom: 0 !important;
}

/***************************** QUEUE/TICKETROW/SIDEBAR *****************************/

.hiddenRow {
  padding: 0 !important;
}

.top-buffer {
  margin-top: 10px;
}

.load-more {
  text-align: center;
  vertical-align: middle;
}

.fade.off {
  opacity: 0
}

.fade {
  opacity: 1;
  transition: opacity 200ms ease;
}

.assign-user-field {
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.assign-user-field input {
  width: 40px;
  height: 40px;
  background: #bbb;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 40px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  
}

.assign-user-field input::-webkit-input-placeholder {
   color: #000;
}
.assign-user-field input:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}
.assign-user-field input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}
.assign-user-field input:-ms-input-placeholder {  
   color: #000;  
}

.assign-user-field .icon{
  position: absolute;
  display: block;
  top: 50%;
  margin-left: 14px;
  margin-top: 12px;
  z-index: 1;
  color: #000;
}

.assign-user-field input:focus, .assign-user-field input:active {
  outline:none;
}
.assign-user-field input:hover, .assign-user-field input:focus {
    outline:none; 
    width: 200px;
}
.assign-user-field:hover .icon +input{
    width: 200px;
}
.assign-user-field:hover .icon {
    color: #fff;
}


.add-tag-field {
  width: 100px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.add-tag-field input {
  width: 40px;
  height: 40px;
  background: #bbb;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 40px;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  
}

.add-tag-field input::-webkit-input-placeholder {
   color: #000;
}
.add-tag-field input:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}
.add-tag-field input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}
.add-tag-field input:-ms-input-placeholder {  
   color: #000;  
}

.add-tag-field .icon {
  display: block;
  position: absolute;
  top: 50%;
  margin-left: 14px;
  margin-top: 12px;
  z-index: 1;
  color: #000;
}

.add-tag-field input:hover, .add-tag-field input:focus {
  width: 130px;
}
.add-tag-field:hover .icon +input{
  width: 130px;
}
.add-tag-field:hover .icon {
  color: #fff;
}

.add-attachment-btn {
  width: 40px;
  height: 40px;
  background: #bbb;
  border: none;
  font-size: 10pt;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
  position: relative;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.add-attachment-btn:hover .icon {
  color: #fff;
}

.ticket-requester-portrait{
  float: left;
  text-align: center;
  padding-right: 5px;
  max-height: 24px;
  width: 40px;
}
.ticket-status-input {
  padding-left: 20px;
  padding-right: 5px;
}

blockquote {
  width: 100%;
  background: #ffffff;
  border: 2px solid #ccc;
}

.ticket-row-panel-body {
  bottom: 0px;
}

.ticket-row-panel {
  margin-bottom: 0px;
  border-bottom: none;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  bottom: 0px;
}
.tag { 
  display: inline-block; 
  position: relative; 
} 
 
.tag .remove-tag { 
  position: absolute; 
  display: block; 
  border: 1px solid; 
  top: 17px;
  left: 20%; 
  z-index: 9999; 
  width: 4.4em;
  background: rgba(255, 255, 255, 0.9); 
  padding: 2px 4px 2px 4px; 
  visibility: hidden; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
} 
 
.tag:hover .remove-tag { 
  visibility: visible; 
} 

.attachment { 
  display: block;
  position: relative; 
} 
 
.attachment .remove-attachment { 
  position: absolute; 
  display: block; 
  border: 1px solid; 
  top: 17px;
  left: 20%; 
  z-index: 9999; 
  min-width: 4.4em;
  background: rgba(255, 255, 255, 0.9); 
  padding: 2px 4px 2px 4px; 
  visibility: hidden; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
} 
 
.attachment:hover .remove-attachment { 
  visibility: visible; 
} 

.note-well {
  margin-bottom: 0px;
}

.panel {
  word-wrap: break-word;
}

.error {
  font-weight: bold;
  color: red;
}

.form-inline .form-group .quick-add-input {
  width: 35em;
  margin-right: 10px;
}

.form-inline .form-group .quick-add-status-input {
  width: 10em;
  margin-right: 10px;
}

.label-as-badge {
  border-radius: 1em;
}

.highlight {
  background-color: #FFFF88;
}

.user-panel-portrait {
  float: left;
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.user-panel-info {
  display: inline-block;
  font-weight: bold;
}

.changelog-buttons {
  float: right;
  padding: 10px 15px 10px 0px;
}

.faded {
  opacity: 0.5 !important;
}

.note-input-buttons {
  float: right;
  padding: 10px 15px 10px 0px;
}

.internal-note {
  background: #FFF6D9;
  border: 1px solid #EFDAA3;
}

.ticket-note-area {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticket-note-input-area {
  margin-top: 30px;
}

.ticket-sidebar {
  margin-top: 10px;
}


.row-no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

  @media (max-width: 768px) {
    .btn-responsive {
      padding: 5px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    } 
  }

  @media (min-width: 769px) {
    btn-responsive {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }

