{
  "ldap": {
    "serverDn": "DC=ad,DC=university,DC=edu",
    "serverUrl": "ldap://ad.university.edu:3268",
    "whiteListedFields": [ "displayName", "givenName", "department", "employeeNumber", "mail", "title", "address", "phone", "memberOf", "physicalDeliveryOfficeName"]
  },
  "ldapDummy": {
    "username": "ldaptestaccount",
    "password": "password"
  },
  "remoteWhitelist": [
    "127.0.0.1"
  ],
  "public": {
    "pageLimitDefault": 30,
    "pageLimitIncrement": 20
  },
  "email": {
    "sendEmailOnFormSubmit": false,
    "smtpPipe": "/path/to/namedPipe",
    "fromEmail": "inventory@university.edu"
  },
  "permissions": {
    "admins": [ "user1", "user2" ]
  },
  "apiKeys": {
    "dellWarranty": "d34db33f0694618aee900ba927da70db"
  }
}
