<template name="checkoutFilters">
  <div class="checkout-filters">
    Available From
    <div class="input-daterange checkout-daterange">
      <input type="text" class="form-control" data-filter="startDate" value="{{startDate}}">
      <span class="checkout-daterange-addon">To</span>
      <input type="text" class="form-control" data-filter="endDate" value="{{endDate}}">
    </div>
    {{#each facetKeys}}
      <div class="dropdown inline-block facet-dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-facet="deviceType" data-toggle="dropdown">
          {{label}}: {{selection}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{{label}}</li>
          {{#each value}}
            {{> facetCheckbox}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</template>
