<template name="inventory">
  <button type="button" name="newAssetButton" class="btn btn-primary">Add New Asset</button>
  <table class="table table-bordered table-condensed">
    {{#with context}}
      <thead>
        <tr>
          {{#each fields}}
            <th>{{fieldName}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each assets}}
          <tr>
            {{#each ../fields}}
              <td>
                {{#with fieldCellContext fieldName .. }}
                  {{> renderCell this}}
                {{/with}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    {{/with}}
  </table>
</template>
