<template name="assetModal">
  {{#with item}}
    <div class="modal fade" id="assetModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Item {{name}}</h4>
          </div>
          {{#autoForm collection="Inventory" id="assetForm" type="update" doc=this}}
            <div class="modal-body"> 
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  {{> afQuickField name='name' disabled=true}}
                  {{> afQuickField name='propertyTag' disabled=true}}
                  {{> afQuickField name='serialNo' disabled=true}}
                  {{> afQuickField name='deviceType' options='allowed' disabled=true}}
                  {{> afQuickField name='manufacturer' options='allowed' disabled=true}}
                  {{> afQuickField name='modelNo' disabled=true}}
                  {{> afQuickField name='department' options='allowed'}}
                  {{> afQuickField name='building' options='allowed'}}
                  {{> afQuickField name='officeNo'}}
                  <div class="form-group">
                    <label for="owner" class="control-label">Owner:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" data-schema-key="owner" value="{{owner}}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-action="checkUsername">Check</button>
                      </span>
                    </div>
                  </div>
                  {{> afQuickField name='checkout'}}
                </div>
                <div class="col-md-6">
                  <h4>Owner/Checkout History</h4>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-action="submit" class="btn btn-primary">Update</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  {{/with}}
</template>

