<template name="userPill">
  <div class="user-profile">
    <div class="user-picture">
      <img src="https://as.uky.edu/profile-picture/{{username}}">
    </div>
    <div class="user-profile-info">
      <div class="username"><strong>{{username}}</strong></div>
      <div class="name">{{displayName}}</div>
    </div>
  </div>
</template>

<template name="noMatchUserPill">
  Search AD for {{getFilter}}?
</template>

<template name="modelPill">
  <div>{{model}}</div>
</template>

<template name="buildingPill">
  <div>{{building}}</div>
</template>
