<template name="checkoutNoteArea">
  <tr>
    <td colspan="4" class="hidden-row">
      <div class="accordion-body collapse" id="checkout-note-area-{{_id}}" data-checkout="{{_id}}">
        {{#each notes}}
          <div class="row">
            <div class="col-xs-2">
              <label for="note-{{_id}}" class="control-label pull-right">
                {{> userPortrait userId=authorId}}
                <small class="checkout-note">{{>timeFromNow date=timestamp}}</small>
              </label>
            </div>
            <div class="col-xs-10">
              <div class="well well-sm note-well" style="text-align: left;">
                {{message}}
              </div>
            </div>
          </div>
        {{/each}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-2">
            <div class="input-group">
              <input type="text" class="form-control" name="newNote" placeholder="Add a new note...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" data-action="addNote">Add Note</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>

