<template name="shipDateField">
  {{#if value}}
    <div class="time">
      {{parsedTime}}
      <div class="full-time">
        {{fullTime}}
      </div>
    </div>
  {{/if}}
</template>

<template name="inventoryBadges">
  {{#with item}}
    <input type="checkbox" name="selectRow">
    <span class="badge" title="{{noteCount}} notes">{{noteCount}}</span>
    {{#if enteredIntoEbars}}
      <span title="Entered into eBars" class="glyphicon glyphicon-barcode"></span>
    {{/if}}
    {{#if checkout}}
      <span title="Available for Checkout" class="glyphicon glyphicon-export"></span>
    {{/if}}
    {{#if isPartOfReplacementCycle}}
      <span title="Part of Replacement Cycle" class="glyphicon glyphicon-credit-card"></span>
    {{/if}}
  {{/with}}
</template>

<template name="ownerField">
  <div class="field-area">
    {{> userPortrait username=value class="in-row" }}
    <div class="inline-edit">
      {{value}}
    </div>
  </div>
</template>

<template name="attachmentField">
  <div class="btn-group">
    <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Attach Item <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" data-action="uploadFile">Upload File</a></li>
      {{#if isCordova}}<li><a href="#" data-action="takePicture">Take Picture</a></li>{{/if}}
    </ul>
  </div>

  {{#each value}}
    <div class="attachment">
      <div class="attachment-link">
        {{#if file.thumbnail}}
          <img class="img-thumbnail" style="max-width: 64px; max-height:24px;" src="/file/{{file.thumbnail}}" />
        {{/if}}
        <a data-action="showAttachmentModal" class="cursor-pointer" data-fileId="{{file._id}}">{{file.filename}}</a><br />
      </div>
    </div>
  {{/each}}
</template>


<template name="inventoryActionsField">
  <button type="button" data-modal="editAssetModal" data-toggle="modal" class="btn btn-sm btn-primary">Edit Item</button>
  <button type="button" data-modal="assetHistoryModal" data-toggle="modal" class="btn btn-sm btn-default hidden-xs">View History</button>
  {{#unless delivered}}
    <button type="button" data-modal="pickupModal" data-toggle="modal" class="btn btn-sm btn-success hidden-xs">Record Pickup</button>
  {{/unless}}
</template>
