<template name="ownerField">
  <div class="field-area">
    {{> userPortrait username=value class="in-row" }}
    <div class="inline-edit">
      {{value}}
    </div>
  </div>
</template>

<template name="attachmentField">
  <div class="btn-group">
    <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Attach Item <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" data-action="uploadFile">Upload File</a></li>
      {{#if isCordova}}<li><a href="#" data-action="takePicture">Take Picture</a></li>{{/if}}
    </ul>
  </div>

  {{#each value}}
    <div class="attachment">
      <div class="attachment-link">
        {{#if file.thumbnail}}
          <img class="img-thumbnail" style="max-width: 64px; max-height:24px;" src="/file/{{file.thumbnail}}" />
        {{/if}}
        <a data-action="showAttachmentModal" class="cursor-pointer" data-fileId="{{file._id}}">{{file.filename}}</a><br />
      </div>
    </div>
  {{/each}}
</template>

