<template name="userDashboard">
<div class="col-md-8 col-md-offset-2">
  <h4>Preferences</h4>
  <hr>
  <div class="form-group">
    <label for="defaultQueue" class="control-label">Default Queue:</label>
    <select class="form-control" name="defaultQueue">
      {{#each queue}}
      <option {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <!--
  <div class="form-group">
    <label for="emails" class="control-label">Email Addresses:</label><br>
    <small>
      Email responses to tickets will be ingested from emails added here. Add as many as you'd like - emails will only be sent to the primary email address associated with your account.
    </small>
    {{#each user.emails}}
      <p>
        <a href="#" data-action="removeEmail" data-email="{{this}}"><span class="glyphicon glyphicon-remove" style="color: red;" data-email="{{this}}"></span></a> {{this}}
      </p>
    {{/each}}
    <div class="input-group col-md-6">
      <input type="email" name="newEmail" class="form-control" placeholder="Add a new email address" data-toggle="popover" data-trigger="manual" data-content="Invalid email address." data-placement="left">
      <span class="input-group-btn"><button type="button" class="btn btn-primary" data-action="addEmail"><span class="glyphicon glyphicon-plus"></span></button></span>
    </div>
  </div>
  -->
  <div class="form-group">
    <label for="authorPreferences" class="control-label">If I am the author of a ticket, notify me when:</label>
    {{>settingsCheckbox name="submitted" option="I submit the ticket" setting=notificationSettings.submitted}}
    {{>settingsCheckbox name="authorSelfNote" option="I leave a note on the ticket" setting=notificationSettings.authorSelfNote}}
    {{>settingsCheckbox name="authorOtherNote" option="Someone else leaves a note on the ticket" setting=notificationSettings.authorOtherNote}}
    {{>settingsCheckbox name="authorStatusChanged" option="The status of the ticket changes" setting=notificationSettings.authorStatusChanged}}
    {{>settingsCheckbox name="authorAttachment" option="An attachment is added to the ticket" setting=notificationSettings.authorAttachment}}
  </div>
  <div class="form-group">
    <label for="associatedPreferences" class="control-label">If I am associated with a ticket, notify me when:</label>
    {{>settingsCheckbox name="associatedSelfNote" option="I leave a note on the ticket" setting=notificationSettings.associatedSelfNote}}
    {{>settingsCheckbox name="associatedOtherNote" option="Someone else leaves a note on the ticket" setting=notificationSettings.associatedOtherNote}}
    {{>settingsCheckbox name="associatedStatusChanged" option="The status of the ticket changes" setting=notificationSettings.associatedStatusChanged}}
    {{>settingsCheckbox name="associatedAttachment" option="An attachment is added to the ticket" setting=notificationSettings.associatedAttachment}}
  </div>
  <div id="saved-message" class="pull-right">
    {{#if saved}}
      <span class="saved-preferences">Preferences saved. </span>
    {{/if}}
    <button type="button" class="btn btn-primary pull-right" data-action="submit">Save</button>
  </div>
</div>
</template>

<template name="settingsCheckbox">
<div class="checkbox">
  <label><input type="checkbox" value="" name="{{name}}" {{checked}}>
    {{option}}
  </label>
</div>
</template>
