<template name="newAssetModal">
  <div class="modal fade" id="newAssetModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add New Asset</h4>
        </div>
        {{#autoForm collection="Inventory" id="newAssetForm"}}
          <div class="modal-body">
            {{> afQuickField name='name'}}
            {{> afQuickField name='description' rows=2}}
            {{> afQuickField name='propertyTag'}}
            {{> afQuickField name='serialNo'}}
            {{> afQuickField name='deviceType' options='allowed'}}
            {{> afQuickField name='manufacturer' options='allowed'}}
            {{> afQuickField name='modelNo'}}
            {{> afQuickField name='department' options='allowed'}}
            {{> afQuickField name='building' options='allowed'}}
            {{> afQuickField name='officeNo'}}
            <div class="form-group">
              <label for="owner" class="control-label">Owner:</label>
              <div class="input-group">
                <input type="text" class="form-control" data-schema-key="owner">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" data-action="checkUsername">Check</button>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-action="submit" class="btn btn-primary">Add Item</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
